In [6]:
import pandas as pd
import googletrans
from googletrans import Translator

translater = Translator()

# Importing the data from the NCR lexicon
ncr = pd.read_csv('NCR-lexicon-german.csv', header= 0,
                        encoding= 'unicode_escape', sep =';')

#ncr = pd.read_excel('NCR-lexicon-german.xlsx')

#ncr = ncr.astype({'English':'string'})
ncr[60:64]

,Englisch,Positiv,Negativ,Wut,Vorwegnahme,Der Ekel,Furcht,Freude,Traurigkeit,berraschung,Vertrauen
60,Absurditt,0,1,0,0,0,0,0,0,0,0
61,Flle,1,1,0,1,1,0,1,0,0,1
62,reichlich,1,0,0,0,0,0,1,0,0,0
63,Missbrauch,0,1,1,0,1,1,0,1,0,0

In [2]:
#df = pd.read_excel('/Users/tflg/Documents/ML4B_SS22/Translation_for_Emotion/NCR-lexicon-german.xlsx', 'lexikon')
df = pd.read_excel (r'/Users/tflg/Documents/ML4B_SS22/Translation_for_Emotion/NCR-lexicon-german.xlsx', sheet_name = 'words')
df[60:64]

/Users/tflg/opt/anaconda3/lib/python3.9/site-packages/openpyxl/reader/workbook.py:88: UserWarning: File contains an invalid specification for words. This will be removed
  warn(msg)

ValueError: Worksheet named 'words' not found

In [ ]:
# Als CSV Datei speichern mit Name 1 bis 142 mit jeweils 100 Übersetzungen
import os

#ncr.to_pickle("NCR-lexicon.csv")
#ncr.to_csv("NCR-lexicon.csv", encoding = "utf-8-sig")
#ncr10.to_csv("csv_1", sep =';')