In [20]:
import pandas as pd
import googletrans
from googletrans import Translator

translater = Translator()

# Importing the data from the NCR lexicon
ncr = pd.read_csv('NCR-lexicon-german.csv', header= 0,
                        encoding= 'unicode_escape', sep =';')

#ncr = pd.read_excel('NCR-lexicon-german.xlsx')

#ncr = ncr.astype({'English':'string'})
ncr[60:64]

,Englisch,Positiv,Negativ,Wut,Vorwegnahme,Der Ekel,Furcht,Freude,Traurigkeit,berraschung,Vertrauen
60,Absurditt,0,1,0,0,0,0,0,0,0,0
61,Flle,1,1,0,1,1,0,1,0,0,1
62,reichlich,1,0,0,0,0,0,1,0,0,0
63,Missbrauch,0,1,1,0,1,1,0,1,0,0

In [2]:
# Code für das erstellen der 142 csv Datei mit der Übersetzung

ncr10 = ncr[:100].copy()
ncr.drop(ncr.head(100).index, inplace=True)
ncr.reset_index(inplace=True, drop=True)
ncr10.head()
ncr10['Deutsch'] = ncr10['English'].apply(translater.translate, src ="en", dest='de').apply(getattr, args=('text',))
ncr10['Deutsch']

0              überraschen
1                   Abakus
2                 aufgeben
3                verlassen
4                  Aufgabe
              ...
95         Übereinstimmung
96         Übereinstimmung
97               Akkordeon
98                   Konto
99    Rechenschaftspflicht
Name: Deutsch, Length: 100, dtype: object

In [7]:
# Als CSV Datei speichern mit Name 1 bis 142 mit jeweils 100 Übersetzungen
import os

ncr.to_pickle("NCR-lexicon.csv")
#ncr.to_csv("NCR-lexicon.csv", encoding = "utf-8-sig")
ncr10.to_csv("csv_1", sep =';')

In [4]:
nrc = pd.read_pickle("NCR-lexicon.csv")
nrc

,English,Positive,Negative,Anger,Anticipation,Disgust,Fear,Joy,Sadness,Surprise,Trust
0,accountable,1,0,0,0,0,0,0,0,0,1
1,accountant,0,0,0,0,0,0,0,0,0,1
2,accounting,0,0,0,0,0,0,0,0,0,0
3,accounts,0,0,0,0,0,0,0,0,0,1
4,accredited,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
14077,zone,0,0,0,0,0,0,0,0,0,0
14078,zoo,0,0,0,0,0,0,0,0,0,0
14079,zoological,0,0,0,0,0,0,0,0,0,0
14080,zoology,0,0,0,0,0,0,0,0,0,0
14081,zoom,0,0,0,0,0,0,0,0,0,0

In [5]:
test = pd.read_csv('csv_1', sep =';')
test

   ,English,Positive,Negative,Anger,Anticipation,Disgust,Fear,Joy,Sadness,Surprise,Trust,Deutsch
0             0,aback,0,0,0,0,0,0,0,0,0,0,überraschen
1                 1,abacus,0,0,0,0,0,0,0,0,0,1,Abakus
2              2,abandon,0,1,0,0,0,1,0,1,0,0,aufgeben
3           3,abandoned,0,1,1,0,0,1,0,1,0,0,verlassen
4           4,abandonment,0,1,1,0,0,1,0,1,1,0,Aufgabe
..                                                ...
95      95,accord,1,0,0,0,0,0,0,0,0,1,Übereinstimmung
96  96,accordance,0,0,0,0,0,0,0,0,0,0,Übereinstimmung
97         97,accordion,0,0,0,0,0,0,0,0,0,0,Akkordeon
98               98,account,0,0,0,0,0,0,0,0,0,1,Konto
99  99,accountability,1,0,0,0,0,0,0,0,0,1,Rechensc...

[100 rows x 1 columns]